<div>
  {{input type="text" class="pw-input" name="username"
  placeholder="User Name" value=username }}
</div>

<div>
  {{input type="password" class="pw-input" name="password"
  placeholder="Password" value=password  key-down="keyDown" }}
</div>

<div class="link">
    {{pw-checkbox checked=rememberMe}}
    <span>
      Remember Me
    </span>
  {{#link-to "forget-password"}}Forgot Password ?{{/link-to}}
  {{#link-to "help"}}Help{{/link-to}}
</div>

<div class="form-group">
    <button type="button" class="pw-button" {{action "submit"}}>
        LOGIN
    </button>
</div>
