<div>
</div>
<div>
  {{input type="text" class="txt-userid pw-input" name="userId"
  placeholder="User ID" autocomplete="off" value=username }}
</div>

<div class="link">
  {{#link-to "forget-password-reset"}}Reset Password{{/link-to}}
</div>

<div class="form-group">
    <button type="button" class="pw-button" {{action "submit"}}>
        SUBMIT
    </button>
</div>
