<img src="./images/customer.png" class="customer-pic"/>
<p>
  <span>{{data.customerName}}</span>
  <span>{{data.bookingNumber}}</span>
  <span>blablablablablablablablab</span>
  <span>{{moment-format date 'MMM D YYYY, h:mm:ss a'}}</span>
</p>
<div class="clearfix"></div>


