<div>
    <div>
        <span class="label label-success" style="float: right;">new order</span>
      {{moment-format date 'DD MMM YYYY HH:mm'}}
    </div>
    <div>
      {{item.id}}
      {{item.text}}
    </div>
</div>

