<div class="user-notification hide-on-phone">
  {{pw-iconmenu
  name="newbooking"
  iconName="bell"
  hint="New Booking" badgeType="badge-danger"
  itemComponent="pw-iconmenuitem-newbooking"
  items=notifications
  onItemSelect="iconMenuItemSelect"
  }}
</div>
{{pw-profile-avatar
user=user
operator=operator
logout=(action "logout")
changePassword=(action "changePassword")
userProfile=(action "userProfile")
}}
<div class="clearfix"></div>