{{pw-page-title title="Profile Operator" icon="building-o"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>Name</td>
                    <td>Badu</td>
                </tr>
            </table>

        </div>
    </div>
 </div>
