@font-face {
  font-family: "Gotham Pro";
  font-weight: normal;
  src: url("../fonts/GothaProReg.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Pro Medium";
  font-weight: normal;
  src: url("../fonts/GothaProMed.otf") format("opentype");
}
