* {
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  background: $body_background_color;
}

.wrapper {
  background: $body_background_color;
  .page-content-wrapper {
    .page-content {
      width: 100%;
      h1 {
        &.page-title {
          padding: 16px 4px 14px 4px;
          margin: 0 16px 4px 16px;
          display: block;
          border-bottom: 1px solid tint(#937B3D, 80%);
          background: #FFF;
          font-size: 12px;
//          font-family: "Gotham Pro Medium";
//          color: tint($base_color, 30%);
          span {
            color: tint($base_color, 30%);
            margin-left: 8px;
            font-size: 14px;
            display: inline;
          }
          > i {
            color: tint($base_color, 30%);
            font-size: 16px;
          }
        }

      }
    }
  }
}

@media #{$media_query_desktop} {

  .page-content-wrapper {
    padding: 0px 0px 0px 0px;
    margin: 0 0px 0 0px;
    position: relative;
  }
}

//phone
@media #{$media_query_phone} {

  .page-content-wrapper {
    padding: 0px;
    position: relative;
    display: block;
  }
}
