.panel {
  &.panel-filter {
    display: none;
    height: 0px;
    .panel-body {
      ul.aircraft-types {
        padding: 0 0 0 0;
        li {
          list-style: none;
          margin: 4px 0px 4px 0px;
          color: #666;
          font-size: 13px;
          button {
            background: #EEE;
            border: 1px solid #DDD;
            margin-right: 8px;
          }
        }
      }
      .aircraft-list {
        select {
          width: 100%;
          padding: 0 0 0 0;
        }
        .button-panel {
          padding: 0 0 0 0;
          text-align: center;
          button {
            padding: 2px;
            width: 30px;
            margin-top: 4px;
            i {
              font-size: 14px;
              font-weight: bold;
              color: #FFF;
            }
            &:first-child {
              margin-top: 32px;
            }
          }
        }
      }
    }

    &.shown{
      height: auto;
      display: block;
     }
  }
}
