<tr>
    <td colspan="2"></td>
    <td colspan="4">
        <span class="pw-label pw-label-success pw-label-xs">Active</span>
        <span class="pw-label pw-label-danger pw-label-xs">Inactive</span>
        &nbsp;
        &nbsp;
        <span class="pw-label pw-label-purple pw-label-xs">Unblocked</span>
        <span class="pw-label pw-label-amethyst pw-label-xs">Blocked</span>
    </td>
</tr>