<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="pw-panel pw-panel-align-right">
                <button class="btn btn-success btn-xs pull-left" {{action "addUser"}}>
                  {{fa-icon "plus"}}&nbsp;
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          {{pw-table data=data
          headerTemplate="main/user/header"
          footerTemplate="main/user/footer"
          masterTemplate="main/user/row"
          detailTemplate="main/user/row-detail"
          isZebra=false
          isBordered =true
          updateProfile=(action "updateProfile")
          updateRole=(action "updateRole")
          blockUser=(action "blockUser")
          deleteUser=(action "deleteUser")
          }}

          {{pw-paging register-as=paging refresh=(action "refresh")}}
        </div>
    </div>
</div>

