{{pw-page-title title="Change Password" icon="lock"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">Old Password</div>
        <div class="col-lg-9">
            {{input value=oldPassword}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">New Password</div>
        <div class="col-lg-9">
          {{input value=newPassword}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">Confirm</div>
        <div class="col-lg-9">
          {{input value=confirm}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <button class="btn btn-success btn-sm">Save</button>
        </div>
    </div>
</div>

