{{pw-page-title title="User Profile" icon="user"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
          {{#link-to "main.user-profile.update"}}Update{{/link-to}}
        </div>
    </div>
</div>

