.pw-message {
  z-index: 100000;
  position: fixed;
  top: 0;
  right: 10px;
  width: 300px;
  height: auto;
  display: inline-block;
  background: #FFF;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  background: rgba(255, 17, 30, 0.48);
  margin-top: 4px;
  margin-bottom: 4px;
  @include filter(drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.2)));

  span {
    font-size: 12px;
    color: #FFF;
  }

  &.pw-message-success {
    background: #156111;
  }

  &.pw-message-warning {
    background: #ff7f16;
  }

  &.pw-message-error {
    background: #fc1221;
  }
}
