$pw_table_row_head_bg: lighten(#7E734A, 50);
$pw_table_row_bg: #FFF;
$pw_table_row_bg_hover: tint(#BEAB75, 90);

table.pw-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: $line-height-base;
        vertical-align: top;
      }
    }
  }
  thead {
    th {
      font-size: 13px;
      color: #333;
      font-weight: normal;
      background: $pw_table_row_head_bg;
      border: 1px solid #CCC !important;
      &.pw-number {
        text-align: right;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 12px;
        color: #666;
        @include transition(background 500ms ease-out);
        &.pw-number {
          text-align: right;
        }
      }

      &:hover {
        td {
          background: $pw_table_row_bg_hover;
          @include transition(background 200ms ease-in-out);
        }
      }
    }
  }

  &.pw-bordered {
    tbody {
      tr {
        td {
          border: 1px solid #CCC !important;
        }
      }
    }
  }

  &.pw-zebra {
    tbody {
      tr:nth-child(even) {
        td {
          background: #F9F9F9;
          @include transition(background 500ms ease-out);
        }
        &:hover {
          td {
            background: $pw_table_row_bg_hover;
            @include transition(background 200ms ease-in-out);
          }
        }
      }
    }
  }
}
