$pw_table_row_head_bg: lighten(#DBB453, 35);
$pw_table_row_bg: #FFF;
$pw_table_row_bg_hover: tint(#a0dffc, 80);
$pw_table_border_color: rgba(245, 229, 148, 0.1);

table.pw-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
//  font-family: "Gotham Pro";
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: $line-height-base;
        vertical-align: top;
      }
    }
  }
  thead {
    th {
      font-size: 13px;
      color: #333;
      font-weight: normal;
      background: $pw_table_row_head_bg;
      &.pw-number {
        text-align: right;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 12px;
        color: #555;
        @include transition(background 500ms ease-out);
        &.pw-number {
          text-align: right;
        }
      }
    }
  }

  &.pw-highlighted {
    tbody {
      tr {
        &:hover {
          td {
            background: $pw_table_row_bg_hover;
            @include transition(background 200ms ease-in-out);
          }
        }
      }
    }
  }

  &.pw-bordered {
    thead {
      th {
        border: 1px solid $pw_table_border_color !important;
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid $pw_table_border_color !important;
        }
      }
    }
  }

  &.pw-zebra {
    tbody {
      tr:nth-child(even) {
        td {
          background: tint($pw_table_row_head_bg, 40);
          @include transition(background 500ms ease-out);
        }
      }
    }

    &.pw-highlighted {
      tbody {
        tr {
          &:hover {
            td {
              background: $pw_table_row_bg_hover;
              @include transition(background 200ms ease-in-out);
            }
          }
        }
      }
    }
  }
}
