<div class="help-page">
    <div class="help-container">
        <div class="help-header login-caret">
            <div class="help-content">
                <img class="logo" src="images/logo-login.png"/>
                <p class="desc">The most comfortably way to fly</p>
            </div>
        </div>

        <div class="help-content-detail">
            <h4>HELP</h4>
        </div>

        <div class="help-footer">
          {{fa-icon "copyright"}} 2016
        </div>
    </div>
</div>