<div class="wrapper">
  {{pw-sidebar onSelectRoute=(action 'selectRoute') menus=menus}}

    <div class="page-content-wrapper">
      {{pw-pageheader
      user=(concat user.firstName ' ' user.lastName)
      operator=(concat user.operatorCode ' '  user.operatorName)
      notifications=notifications

      updateUserProfile=(action 'operatorUserProfile')
      changePassword=(action 'changePassword')
      logout=(action 'logout')
      selectRoute=(action 'selectRoute')
      }}
        <div class="page-content">
          {{outlet}}
        </div>
    </div>
</div>